$black: #000000
$white: #FFFFFF
$light-green: #F1FAF9
$primary: #000064
$secondary: #5D9FE8
$tertiary: #D1D7E8
$quaternary: #E6FFFE
$red: #E00000
$grey: rgba($black, 0.72)
$light-grey: #D9D9D6
$sep: #EBF4F2
$padding-responsive: 24px
$max-width: calc(1280px + (#{$padding-responsive} * 2))
$max-width-mid: calc(1000px + (#{$padding-responsive} * 2))
$max-width-small: calc(888px + (#{$padding-responsive} * 2))
