@import 'reset'
@import 'vars'
@import 'typo'

::selection
  background: rgba(#A2E4B8, 0.3)

*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-tap-highlight-color: transparent
  box-sizing: border-box


body
  box-sizing: border-box
  background-color: $light-grey
  color: $black
  font-family: 'Roboto', sans-serif

*:focus
  outline: 4px solid $black

body.using-mouse *:focus 
  outline: none
  

button
  appearance: none
  border: none
  outline: none

.button
  border: none
  border-radius: 2px
  padding: 12px 18px
  text-transform: uppercase
  cursor: pointer
  color: white
  background-color: #2196f3
  box-shadow: 0 0 4px #999
  background-position: center
  transition: background 0.8s

  &:hover,
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%
    
  &:active 
    background-color: #6eb9f7
    background-size: 100%
    transition: background 0s

.wrapper
  padding: 96px 24px
  margin: 0 auto
  max-width: $max-width

.u-shadow
  box-shadow: 0 0 1px 0 rgba(#18332F, 0.24), 0 24px 24px 0 rgba(#18332F, 0.03), 0 2px 2px 0 rgba(#18332F, 0.03), 0 4px 4px 0 rgba(#18332F, 0.03), 0 8px 8px 0 rgba(#18332F, 0.03), 0 16px 16px 0 rgba(#18332F, 0.03)

  &-hover
    box-shadow: none
    transition: box-shadow 0.2s ease-out

    &:hover
      box-shadow: 0 0 1px 0 rgba(#18332F, 0.24), 0 24px 24px 0 rgba(#18332F, 0.03), 0 2px 2px 0 rgba(#18332F, 0.03), 0 4px 4px 0 rgba(#18332F, 0.03), 0 8px 8px 0 rgba(#18332F, 0.03), 0 16px 16px 0 rgba(#18332F, 0.03)




@media screen and (max-width: 800px)
  .wrapper
    padding: 48px 24px